.book-card img{
  width: 120px;
  height: 160px;
  margin-top: 20px
}

.book-card{
  width: 120px;
  margin-left: 5px;
  margin-right: 5px;
}

#book-list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 85vw;
  height: 100%;
  background-color: lightgrey;
}

/* #book-list:after{
  content: '';
  flex-grow: 40;
} */